.keyboard {
  position: relative;
  height: 3em;
  background: #66000010;
  border-radius: 5px;
  display: inline-block;
  margin: 1em 0 0.5em;
}

.keyboard div.black {
  z-index: 2;
}

.keyboard div.black,
.keyboard div.white {
  position: relative;
}

.keyboard div.black .key {
  border-top: 0px;
}

.keyboard div.white {
  border-top: 2px solid red;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  transform: translate(0, -2.35em);
}

.keyboard .key {
  display: inline-block;
  width: 0.7em;
  border: 1px solid gray;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.keyboard .key + .key {
  border-left: 0px;
}

.keyboard .key.white {
  background: white;
  height: 4em;
}

.keyboard .key.black {
  background: black;
  height: 2.75em;
}

.keyboard .key[data-key="1"] {
  margin-left: calc(1px + 0.25em);
}

.keyboard .key[data-key="3"] {
  margin-right: calc(1px + 0.75em);
}

.keyboard .key[data-key="10"] {
  margin-right: 0.25em;
}

.keyboard .key.pressed {
  background: lime;
}

.keyboard .key.uncommon {
  border-color: black;
}

.keyboard .key.uncommon.white {
  background: rgb(194, 180, 201);
}

.keyboard .key.uncommon.black {
  background: rgb(101, 76, 123);
}
