body,
html {
  padding: 0;
  margin: 0;
  background: darkblue;
}

body {
  --page-width: 960px;
  display: block;
  width: var(--page-width);
  min-height: 100vh;
  margin: auto;
  background: white;
  padding: 1em 2em;
  box-sizing: border-box;
}

body {
  overflow: auto;
}

input[type="range"] {
  vertical-align: middle;
}

#bpm,
#divisions,
.time {
  width: 4em;
}

button.chorus.enabled {
  background: #2fb1db;
  color: white;
}

.controls *:focus {
  outline: 2px solid red;
}

.controls > div:not([class]) {
  margin: 0.2em;
  padding: 0.3em 0.5em;
  border: 1px solid grey;
}

.flex {
  display: flex;
}

.controls div button.beep {
  border: 1px solid grey;
  border-radius: 4px;
  outline: none;
  background: gold;
}

.controls div button.beep.disabled {
  filter: grayscale(1);
}
