.pianoroll-container {
  position: relative;
  width: 100%;
  height: 20em;
  overflow: auto;
  border: 1px solid grey;
  background: #1111;
}

.pianoroll {
  position: absolute;
  top: 0;
  left: 0;
  table-layout: fixed;
  border-collapse: collapse;
  width: 0%;
}

.pianoroll tr {
  --key-offset: 2em;
  height: 0.5em;
}

.pianoroll tr:nth-child(2n) {
  background: #1111;
}

.pianoroll tr th {
  position: sticky;
  z-index: 1;
  left: 0;
  width: var(--key-offset);
}

.pianoroll tr.black th {
  background: black;
}

.pianoroll tr.white th {
  background: white;
  box-shadow: -1px 1px 0 0 inset black;
}

.pianoroll tr .m {
  width: 10em;
  line-height: 0;
}

.pianoroll tr .m:first-child {
  margin-left: var(--key-offset);
}

.pianoroll tr .m:nth-child(2n) {
  background: #1111;
}

.pianoroll tr .m .q {
  position: relative;
  display: inline-block;
  flex-basis: 100%;
  height: 0.5em;
  overflow: visible;
  margin: -1px;
  border-left: 1px solid #4144;
}

.pianoroll tr .m .q .note {
  position: absolute;
  border: 1px solid red;
  background: pink;
  padding: 3px;
  box-sizing: content-box;
}

.scrubber {
  position: absolute;
  top: 0;
  --l: 0;
  left: var(--l);
  height: calc(128 * 0.5em);
  width: 2px;
  background: red;
}
