.pianoroll-container {
  position: relative;
  width: 100%;
  height: 20em;
  overflow: scroll;
  border: 1px solid grey;
  background: #1111;

  display: grid;
  grid-template-columns: var(--key-offset) auto;
  grid-template-areas: "keys roll";
  resize: vertical;

  --row-height: 8px;
  --key-offset: 2.5em;
}

.pianoroll-container .keys {
  position: sticky;
  left: 0;
  z-index: 5;
  grid-area: "keys";
}

.pianoroll-container .keys .key {
  height: var(--row-height);
}

.pianoroll-container .keys .black.key {
  background: black;
}

.pianoroll-container .keys .white.key {
  background: white;
  box-shadow: -1px 1px 0 0 inset black;
}

.pianoroll-container .keys .key.highlight {
  background: lime;
}

.pianoroll-container .pianoroll {
  grid-area: roll;
}

.pianoroll-container .pianoroll .roll {
  position: relative;
  min-width: 2000%;
  --roll-offset: 0px;
  left: var(--roll-offset);
}

.pianoroll-container .pianoroll .roll .note {
  --t: 0px;
  --l: 0px;
  --w: 100px;
  --v: calc(64 / 128);

  position: absolute;
  background: pink;
  border: 1px solid red;
  box-sizing: border-box;
  padding: 3px;

  top: var(--t);
  left: var(--l);
  width: var(--w);
  z-index: 2;
  outline: none;
}

.pianoroll-container .pianoroll .roll .note.playing {
  background: rgb(49 255 0);
  border-color: #0caa85;
}

.scrubber {
  position: relative;
  --l: 0px;
  left: var(--l);
  height: calc(128 * var(--row-height));
  width: 2px;
  background: red;
}
